<!DOCTYPE html>
<html>
  <head>
    <title>ReactReduxTodosPart2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <% if current_user %>
      <div class='current_user'>
        <p>User: <%= current_user.username %></p>
        <%= link_to("Log Out", session_url(current_user.id), method: :delete) %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
